:root {
    --main-background: hsl(230, 100%, 99%);
    --card-background: hsl(0, 0%, 100%);
    --full-slider-bar: hsl(174, 77%, 80%);
    --slider-background: hsl(174, 86%, 45%);
    --empty-slider-bar: hsl(224, 65%, 95%);
    --toggle-background: hsl(223, 50%, 87%);
    --discount-background: hsl(14, 92%, 95%);
    --discount-text: hsl(15, 100%, 70%);
    --CTA-text: hsl(226, 100%, 87%);
    --CTA-background: hsl(227, 35%, 25%);
    --text: hsl(225, 20%, 60%);
    --title: #2b3551;
    --box-shadow: rgba(0, 0, 0, 0.1) 0 20px 25px -5px, rgba(0, 0, 0, 0.04) 0 10px 10px -5px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Manrope";
    background-color: var(--main-background);
}

.heading {
    background-image: url(images/bg-pattern.svg);
    width: 100%;
    height: 400px;
    background-size: cover;
    padding: 3rem;
}

.heading_text {
    background: url(images/pattern-circles.svg) top no-repeat;
    height: 150px;
}

.text {
    text-align: center;
    color: var(--text);
    font-size: 12px;
}

.text-bold {
    color: var(--title);
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 12px;
    padding-top: 30px;
}

.card {
    background-color: var(--card-background);
    margin: -150px 25px 20px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

.pageviews-count {
    color: var(--text);
    font-weight: 800;
    font-size: 14px;
    letter-spacing: 2px;
}

#pageviews-input {
    overflow: hidden;
    border-radius: 5px;
    width: 260px; 
    height: 10px;
    -webkit-appearance: none;
    background-color: var(--empty-slider-bar);
    margin: 14px 10px 30px;
}

#pageviews-input::-webkit-slider-thumb { 
    -webkit-appearance: none;
    height: 12px;
    width: 12px;
    border: 0;
    border-radius: 30%; 
    cursor: ew-resize;
    background-color: var(--slider-background);
    box-shadow: -260px 0 0 260px var(--full-slider-bar);
    /* background-image: url("images/icon-slider.svg");
    background-position: center;
    background-repeat: no-repeat; */
}

#pageviews-input::-moz-range-thumb {
    width: 38px;
    height: 38px;
    border: 0;
    background-image: url("images/icon-slider.svg");
    background-color: var(--slider-background);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    border-radius: 36px;
}

#pageviews-input::-moz-range-progress {
    background-color: var(--full-slider-bar); 
}

#pageviews-input::-moz-range-track {  
    background-color: var(--empty-slider-bar);
}

.pricing, .price-plan {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.price {
    color: var(--title);
    font-weight: 700;
    font-size: 32px;
    margin-right: 5px;
}

.monthly-price {
    color: var(--text);
    letter-spacing: 1px;
}

.price-plan {
    margin-top: 30px;
    margin-bottom: 30px;
    gap: 6px;
}

.option-plan {
    color: var(--text);
    font-size: 10px;
    white-space: nowrap;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.toggle-thumb {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--toggle-background);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.toggle-thumb:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

#billing-toggle:checked + .toggle-thumb {
    background-color: var(--full-slider-bar);
}
  
#billing-toggle:checked + .toggle-thumb:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

#billing-toggle {
    opacity: 0;
    width: 0;
    height: 0;
}

#billing-toggle:checked + .toggle-thumb:before {
    transform: translateX(20px);
    color: var(--full-slider-bar);
    border-radius: 50%;
}

.discount {
    font-size: 8px;
    color: var(--discount-text);
    background-color: var(--discount-background);
    border-radius: 10px;
    padding: 1px 6px 2px;
}

.horizontal-line {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--empty-slider-bar);
    margin: 1em 0;
    padding: 0;
}

.benefits-list {
    list-style-image: url("images/icon-check.svg");
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0px 20px -20px;
}

.benefit {
    font-size: 10px;
    padding-bottom: 5px;
}

.CTA-trial {
    background-color: var(--CTA-background);
    color: var(--text);
    padding: 10px 30px;
    font-family: "Manrope";
    font-size: 10px;
    border: none;
    border-radius: 30px;
    margin-bottom: 10px;
}

.CTA-trial:hover {
    color: var(--card-background);
}

footer {
    display: flex;
    flex-direction: column;
    margin: 60px;
}

.attribution {
    color: var(--text);
    text-align: center;
    margin: 12px;
    font-size: 10px;
}

.attribution > a {
    color: var(--slider-background);
    margin-left: 10px;
}

@media (min-width: 820px) {
    .heading_text {
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .text {
        font-size: 20px;
        display: inline-block;
        width: max-content;
    }
    
    .text-bold {
        font-size: 32px;
    }

    .card {
        max-width: 45%;
        min-height: 600px;
    }
}